.btn-log {
  padding: 5px 25px 5px 25px;
  font-size: 12px;
  margin-right: 10px;
  border-radius: 10px;
}
.container-fluid {
  position: relative;
  padding: 0;
}

.thebg {
  height: auto;
  width: auto;
}

.text-over {
  position: absolute;
  top: 40%;
  padding-left: 100px;
}

.contact {
  margin: 100px;
}

.about {
  margin: 100px;
}
